<% layout('layouts/boilerplate') %>
<div id="cluster-map"></div>
<h1>All Checkpoints</h1>
<div>
	<a href="/checkpoints/new">Add Checkpoint</a>
</div>

<% for( let checkpoint of checkpoints ) { %>
<div class="card mb-3">
	<div class="row">
		<div class="col-md-4">
			<% if(checkpoint.images.length) {%>
			<img crossorigin="anonymous" class="img-fluid" alt="" src="<%= checkpoint.images[0].url %>" />
			<% }else { %>
			<img
				crossorigin="anonymous"
				class="img-fluid"
				alt=""
				src="https://picsum.photos/400?random=0.8403994606961385"
			/>
			<% } %>
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title"><%= checkpoint.title %></h5>
				<p class="card-text"><%= checkpoint.description %></p>
				<p class="card-text"><small class="text-secondary"> <%= checkpoint.location %> </small></p>
				<a href="/checkpoints/<%= checkpoint._id %>" class="btn btn-primary">View <%= checkpoint.title %></a>
			</div>
		</div>
	</div>
</div>
<% } %>

<script>
	const maptilerApiKey = "<%- process.env.MAPTILER_API_KEY %>";
	const checkpoints = { features: <%- JSON.stringify(checkpoints) %>}
</script>

<script src="/jsscripts/clusterMap.js"></script>
