<% layout('layouts/boilerplate') %>
<h1>All Checkpoints</h1>
<div>
	<a href="/checkpoints/new">Add Checkpoint</a>
</div>

<% for( let checkpoint of checkpoints ) { %>
<div class="card mb-3">
	<div class="row">
		<div class="col-md-4">
			<img class="img-fluid" alt="" src="<%= checkpoint.images[0].url %>" />
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title"><%= checkpoint.title %></h5>
				<p class="card-text"><%= checkpoint.description %></p>
				<p class="card-text"><small class="text-secondary"> <%= checkpoint.location %> </small></p>
				<a href="/checkpoints/<%= checkpoint._id %>" class="btn btn-primary">View <%= checkpoint.title %></a>
			</div>
		</div>
	</div>
</div>
<% } %>
